<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoinChart</title>
</head>
<body>
<!--
    <h1 th:text="${bitcoin.time}">hello world</h1>
    <h1 th:text="${bitcoin.priceKrw}">hello world</h1>
!-->
</body>
</html>

<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<canvas id="line-chart" style="max-width: 80%; height: auto;"></canvas>
<script type="text/javascript">
    function getChart() {
        let timeList = [];
        let btcKrw = [];
        let ethKrw = [];
        let bchKrw = [];
        let solKrw = [];


        let request = $.ajax({
            url: "/chart",
            method: 'POST',
            data: {},
            async: false,
            dataType: "json"
        });

        request.done(function(data) {
            console.log(data);
            for(let price of data){
                timeList.push(price.time);
                btcKrw.push(price.btcKrw);
                ethKrw.push(price.ethKrw);
                bchKrw.push(price.bchKrw);
                solKrw.push(price.solKrw);
            }
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: timeList,
                    datasets: [{
                        data: btcKrw,
                        label: "BTC",
                        borderColor: "#3e95cd",
                        fill: false
                    }, {
                        data: ethKrw,
                        label: "ETH",
                        borderColor: "#8e5ea2",
                        fill: false
                    }, {
                        data: bchKrw,
                        label: "BCH",
                        borderColor: "#3cba9f",
                        fill: false
                    }, {
                        data: solKrw,
                        label: "SOL",
                        borderColor: "#e8c3b9",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Crypto Chart'
                    }
                }
            });
        })
        request.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });
    }

    getChart();


</script>