<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CoinChart</title>
</head>
<style>
    select {
        width: 160px;
        padding: .8em .5em;
        border: 1px solid #999;
        font-family: inherit;
        border-radius: 0px;
        text-align: center;
        font-size: large;
        float: right;
        margin-right: 80px;
        margin-top: 40px;
    }
    #line-chart {
        width: 80%;
        height: 70%;
    }
</style>
<body>
    <section style="text-align: left; margin-top: 40px; margin-left: 30px;" >
        <span th:text="${'1 USD : ' + usd + 'KRW , '}"></span>
        <span th:text="${jpy} + 'JPY'"></span>
    </section>
    <section style="display: inline-flex; width: 80%; height: 70%">
        <canvas id="line-chart"></canvas>
        <section style="flex-direction: column">
            <select id="currency" style="display: inline">
                <option value="usd">USD</option>
                <option value="krw">KRW</option>
                <option value="jpy">JPY</option>
            </select>
            <div style="padding-top: 30px; padding-bottom: 30px;">&nbsp;</div>
            <table id="currentPrice" style="display: inline">
                <tbody>
                    <tr>
                        <td>BTC :</td>
                        <td id="btc"></td>
                    </tr>
                    <tr>
                        <td>ETH :</td>
                        <td id="eth"></td>
                    </tr>
                    <tr>
                        <td>BCH :</td>
                        <td id="bch"></td>
                    </tr>
                    <tr>
                        <td>SOL :</td>
                        <td id="sol"></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </section>
</body>
</html>

<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<script type="text/javascript">
    $(function (){
        $("#currency").on("change", function (e) {
            let currency = $("#currency option:selected").val();
            if(currency === "usd"){
                getUsdChart();
            } else if (currency === "krw"){
                getKrwChart();
            } else if (currency === "jpy"){
                getJpyChart();
            }
        })
    })

    function getUsdChart() {
        let timeList = [];
        let btcUsd = [];
        let ethUsd = [];
        let bchUsd = [];
        let solUsd = [];

        let request = $.ajax({
            url: "/chart",
            method: 'POST',
            data: {},
            dataType: "json"
        });

        request.done(function(data) {
            console.log(data);
            for(let i=0; i<data.length; i++){
                timeList.push(data[i].time);
                btcUsd.push(data[i].btcUsd);
                ethUsd.push(data[i].ethUsd);
                bchUsd.push(data[i].bchUsd);
                solUsd.push(data[i].solUsd);
                if(i == data.length -1){
                    let btcUsd = data[i].btcUsd;
                    btcUsd ="$ " + btcUsd.toLocaleString('en-US');
                    let ethUsd = data[i].ethUsd;
                    ethUsd ="$ " + ethUsd.toLocaleString('en-US');
                    let bchUsd = data[i].bchUsd;
                    bchUsd ="$ " + bchUsd.toLocaleString('en-US');
                    let solUsd = data[i].solUsd;
                    solUsd ="$ " + solUsd.toLocaleString('en-US');
                    $('#btc').text(btcUsd);
                    $('#eth').text(ethUsd);
                    $('#bch').text(bchUsd);
                    $('#sol').text(solUsd);
                }
            }
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: timeList,
                    datasets: [{
                        data: btcUsd,
                        label: "BTC",
                        borderColor: "#3e95cd",
                        fill: false
                    }, {
                        data: ethUsd,
                        label: "ETH",
                        borderColor: "#8e5ea2",
                        fill: false
                    }, {
                        data: bchUsd,
                        label: "BCH",
                        borderColor: "#3cba9f",
                        fill: false
                    }, {
                        data: solUsd,
                        label: "SOL",
                        borderColor: "#e8c3b9",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Crypto Chart'
                    }
                }
            });
        })
        request.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });
    }

    function getJpyChart() {
        let timeList = [];
        let btcJpy = [];
        let ethJpy = [];
        let bchJpy = [];
        let solJpy = [];


        let request = $.ajax({
            url: "/chart",
            method: 'POST',
            data: {},
            dataType: "json"
        });

        request.done(function(data) {
            console.log(data);
            for(let i=0; i<data.length; i++){
                timeList.push(data[i].time);
                btcJpy.push(data[i].btcJpy);
                ethJpy.push(data[i].ethJpy);
                bchJpy.push(data[i].bchJpy);
                solJpy.push(data[i].solJpy);
                if(i == data.length -1){
                    let btcJpy = data[i].btcJpy;
                    btcJpy ="¥ " + btcJpy.toLocaleString('ja-JP');
                    let ethJpy = data[i].ethJpy;
                    ethJpy ="¥ " + ethJpy.toLocaleString('ja-JP');
                    let bchJpy = data[i].bchJpy;
                    bchJpy ="¥ " + bchJpy.toLocaleString('ja-JP');
                    let solJpy = data[i].solJpy;
                    solJpy ="¥ " + solJpy.toLocaleString('ja-JP');
                    $('#btc').text(btcJpy);
                    $('#eth').text(ethJpy);
                    $('#bch').text(bchJpy);
                    $('#sol').text(solJpy);
                }
            }
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: timeList,
                    datasets: [{
                        data: btcJpy,
                        label: "BTC",
                        borderColor: "#3e95cd",
                        fill: false
                    }, {
                        data: ethJpy,
                        label: "ETH",
                        borderColor: "#8e5ea2",
                        fill: false
                    }, {
                        data: bchJpy,
                        label: "BCH",
                        borderColor: "#3cba9f",
                        fill: false
                    }, {
                        data: solJpy,
                        label: "SOL",
                        borderColor: "#e8c3b9",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Crypto Chart'
                    }
                }
            });
        })
        request.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });
    }
    function getKrwChart() {
        let timeList = [];
        let btcKrw = [];
        let ethKrw = [];
        let bchKrw = [];
        let solKrw = [];

        let request = $.ajax({
            url: "/chart",
            method: 'POST',
            data: {},
            dataType: "json"
        });

        request.done(function(data) {
            console.log(data);
            for(let i=0; i<data.length; i++){
                timeList.push(data[i].time);
                btcKrw.push(data[i].btcKrw);
                ethKrw.push(data[i].ethKrw);
                bchKrw.push(data[i].bchKrw);
                solKrw.push(data[i].solKrw);
                if(i == data.length -1){
                    let btcKrw = data[i].btcKrw;
                    btcKrw ="₩ " + btcKrw.toLocaleString('ko-KR');
                    let ethKrw = data[i].ethKrw;
                    ethKrw ="₩ " + ethKrw.toLocaleString('ko-KR');
                    let bchKrw = data[i].bchKrw;
                    bchKrw ="₩ " + bchKrw.toLocaleString('ko-KR');
                    let solKrw = data[i].solKrw;
                    solKrw ="₩ " + solKrw.toLocaleString('ko-KR');
                    $('#btc').text(btcKrw);
                    $('#eth').text(ethKrw);
                    $('#bch').text(bchKrw);
                    $('#sol').text(solKrw);
                }
            }
            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: timeList,
                    datasets: [{
                        data: btcKrw,
                        label: "BTC",
                        borderColor: "#3e95cd",
                        fill: false
                    }, {
                        data: ethKrw,
                        label: "ETH",
                        borderColor: "#8e5ea2",
                        fill: false
                    }, {
                        data: bchKrw,
                        label: "BCH",
                        borderColor: "#3cba9f",
                        fill: false
                    }, {
                        data: solKrw,
                        label: "SOL",
                        borderColor: "#e8c3b9",
                        fill: false
                    }
                    ]
                },
                options: {
                    title: {
                        display: true,
                        text: 'Crypto Chart'
                    }
                }
            });
        })
        request.fail(function( jqXHR, textStatus ) {
            alert( "Request failed: " + textStatus );
        });
    }

    getUsdChart();


</script>